.date-select-block{
    width: 70px;
    margin-right: 10px;
}
.date-select-block:focus, .date-select-block-month:focus{
    outline: none;
    border: none;
}

.date-select-block-month{
    width: 90px;
    margin-right: 10px;
}

